@font-face{
	font-family: "Cicle Semi";
	src: url(font/CicleSemi.ttf);
}
html, body {
	font-family: Cicle Semi, sans-serif;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%;
}
#navbar {
	position: fixed;
		top: 0;
		left: 0;
	height: 100%;
	width: 110px;
	background-color: #272532;
	z-index: 20;
	opacity: 1;
}
#navbar A {
	text-decoration: none;
}
#navS {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -999;
}
.button {
	position: relative;
		top: 0;
		left: 0;
	height: 110px;
	width: 110px;
	z-index: 21;
	font-size: 1.4em;
	text-align: center;
	color: white;
	line-height: 110px;
	vertical-align: middle;
	cursor: pointer;
	transition:width 0.7s;
	-webkit-transition:width 0.5s;
}
.button:hover {
	width: 165px;
}
.buttonText{
	margin-top: 0em;
	margin-bottom: 0em;
}
#homeButton {
	background-color: #3771c8;
}
#aboutButton {
	background-color: #2a7fff;
}
#experienceButton {
	background-color: #3771c8;
}
#projectsButton {
	background-color: #2a7fff;
}
#contactButton {
	background-color: #3771c8;
}
#home {
	position: relative;
	width: 100%;
	display: table;
	line-height: 0;
	z-index: 6
}
#homeBackground {
	display: table-cell;
}
#homeBGimg {
	width: 100%;
}
#homeTextContainer {
	position: absolute;
		top: 0;
		left: 110px;
		margin-top: 10vw;
		margin-left: 11vw;
	text-align: center;
	color: white;
	z-index: 1;
}
#homeText {
	font-size: 3.0vw;
	line-height: 3.0vw;
	margin: 0;
}
#homeText span {
	font-size: 6.8vw;
	line-height: 6.8vw;
}
#about {
	position: relative;
	width: 100%;
	background-color: #5599ff;
	display: table;
	/*line-height: 0;*/
	z-index: 5;
}
#aboutContainer {
	display: table-cell;
}
#about .header {
	margin-top: 5.19vw;
	margin-bottom: 5.19vw;
	margin-right: 5.19vw;
	font-size: 5.19vw;
	/*line-height: 5.19vw;*/
	text-align: right;
	color: white;
}
#about .body {
	margin-bottom: 10.38vw;
	margin-left: 110px;
	margin-right: 5.19vw;
	display: table;
}
#about .imgContainer, #about .text {
 	display: table-cell;
	vertical-align: top;
}
#about .imgContainer {
	position: relative;
	width: 40%;
}
#about img {
	position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	height: 100%;
	width: auto;
	border-radius: 100%;
	display: block;
	margin: auto;
}
#about .text {
	width: 60%;
	font-size: 2.26vw;
	/*line-height: 2.26vw;*/
	text-align: left;
	color: white;
	display: table-cell;
}